body{
	margin: 0;
}
.images{
	padding: 50px 0;
}
.container{
	margin: 70px auto;
	overflow: hidden;
	width: 960px;
	border: 1px solid blueviolet;
}
.img_item{
	box-sizing: border-box;
	float: left;
	width: 25%;
	padding: 4px 4px;
}
.img_item img{
	width: 100%;
}